
.start-screen-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1;
    padding-left: 50%;
    padding-top: 25%;
}

.progress-bar-css {
    margin-top: 25%;
    margin-left: 25%;
    margin-right: 25%;
}

.body-background  {
    background-image: url('assets/images/start-screen-img1.png');
    background-size: cover;
    background-color: rgba(255,255,255,0.6);  /* 0.6 determine background img transparency*/
    background-blend-mode: lighten;
}

.settings-menu {
    position: absolute;
    left: 25%;
    top: 25%;
    z-index: 1;
}

.settings-button {
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;
}

#info {
    position: absolute;
    top: 1px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    z-index: 1; /* TODO Solve this in HTML */
}
